# SQL Examples

## Step 1
Install the following packages
* conda install pandas
* conda install pymysql

In [4]:
import pymysql
import pandas as pd

## Step 2
A testdatabase has been setup for you (for the duration of this course). Use your browser and navigate to [http://ec2-54-162-117-0.compute-1.amazonaws.com/phpMyAdmin](http://ec2-54-162-117-0.compute-1.amazonaws.com/phpMyAdmin) This provides you with a visual interface to the database webminig for all of us.

* Username: admin
* Password: famviews58239

Don't share the credentials with anyone else or misuse the database. Otherwise it will be closed. 

Create your own database using the nameing convertion "wm_yournamehere" and select the database.

In [5]:
# Connection parameters to the instance of the database, not the visual interface
host="dbtest.ckiye7lbs2mb.us-east-1.rds.amazonaws.com"
user="admin"
password="famviews58239"
db="martin" #your database name here

In [6]:
# Create a table

connection = pymysql.connect(host=host,user=user,password=password,db=db)
try:
    cursorObject            = connection.cursor()                                     

    sqlCreateTableCommand   = "CREATE TABLE "+db+".wm_tracking_sales ("\
      "id INT NOT NULL AUTO_INCREMENT,"\
      "product_name VARCHAR(45) NULL,"\
      "product_price_per_unit DECIMAL(6,2) NULL,"\
      "units_ordered INT NULL,"\
      "PRIMARY KEY (id));"

    # Execute the sqlQuery
    cursorObject.execute(sqlCreateTableCommand)

    #Fetch all the rows - from the command output
    rows = cursorObject.fetchall()
    for row in rows:
        print(row)

    
except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connection.close()

Exeception occured:(1050, "Table 'wm_tracking_sales' already exists")

Let's take a look in the visual interface

In [7]:
#Show all tables in the database using python
connection = pymysql.connect(host=host,user=user,password=password,db=db)
try:
    # Create a cursor object
    cursorObject            = connection.cursor()                                     

    # List the tables using SQL command
    sqlShowTablesCommand    = "show tables"   

    # Execute the SQL command
    cursorObject.execute(sqlShowTablesCommand)

    #Fetch all the rows - from the command output
    rows = cursorObject.fetchall()
    for row in rows:
        print(row)

    
except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connection.close()

('wm_tracking_sales',)

In [ ]:
#Insert Dummy data into the table
# Before you execute it, replace the <martin> with your name (no spaces, no special characters)
connection = pymysql.connect(host=host,user=user,password=password,db=db)
try:
    cursorObject = connection.cursor()                                     

    insertStatement = "INSERT INTO "+db+".wm_tracking_sales (product_name,product_price_per_unit,units_ordered) VALUES"\
    "('Desktop Computer', 500.0, 5),"\
    "('Monitor', 200.0, 5),"\
    "('Telephone', 150.0, 2),"\
    "('Telephone', 150.0, 3),"\
    "('Chair', 100.0, 1)"
 
    cursorObject.execute(insertStatement)
    connection.commit();
    
except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connection.close()

In [ ]:
#Connect to the database and keep the connection open
connection = pymysql.connect(host=host,user=user,password=password,db=db)

In [ ]:
#Create the SQL Query
# Before you execute it, replace the <martin> with your name (no spaces, no special characters)
sqlquery = pd.read_sql_query("select product_name, product_price_per_unit, units_ordered, "\
                              "((units_ordered) * (product_price_per_unit)) AS revenue "\
                              " from "+db+".wm_tracking_sales", connection)

In [ ]:
#Convert the SQL Result into a dataframe
df = pd.DataFrame(sqlquery, columns=['product_name','product_price_per_unit','units_ordered','revenue'])
df

In [ ]:
#Work with the dataframe as usual
df['revenue'].max()

In [ ]:
#Close the connection
connection.close()