# Create or replace function, create index, drop table

In [ ]:
    CREATE or REPLACE FUNCTION schema.populate_table_name()
        RETURNS boolean 
        LANGUAGE plpgsql
        STRICT
    AS $function$
    begin
    
    CREATE TEMP TABLE merchants_table AS
    ()
    ;
    
    CREATE INDEX "merchants_merchant_id_key" ON merchants_table USING btree (merchant_id);
    
    insert into schema.table_name
        select
        *
        from merchants_table mt
        
    drop table merchants_table;
    drop table trx_table;
    
    return true;
    end
    $function$
    ;

In [ ]:
import os
import psycopg2 as pg
import pandas as pd
import datarobot as dr
from sqlalchemy import create_engine

#read file with credentials
path = '/Users/andreelimardinata/user_info.txt'
user = open(path)
user_info = user.read()

#create connection with DWH
conn = pg.connect(user_info)
cur = conn.cursor()

query1 = """"""
#run query
query = pd.read_sql_query(query1,con=conn)
cur.close()
conn.close()

os.system("python datarobot_prediction.py Input/temp.csv Output/result_temp.csv")
results = pd.read_csv('Output/result_temp.csv')

test = create_engine(user_info)
#ingest info to DWH
df_final.to_sql(name = 'table', con=test, schema='schema_name', if_exists='append',
               index=False, method='multi')

## UPDATE table

In [ ]:
query2 = """
UPDATE schema.table
SET first_name = UPPER(first_name)
where updated_at = (select max(updated_at) as updated_at from schema.table_name);

update schema.table
SET last_name = UPPER(last_name)
where updated_at = (select max(updated_at) as updated_at from schema.table_name);

UPDATE schema.table 
SET first_name = replace(first_name, 'Ã¤','a')
where updated_at = (select max(updated_at) as updated_at from schema.table_name);

UPDATE schema.table
SET first_name = INITCAP(first_name)
where updated_at = (select max(updated_at) as updated_at from schema.table_name);

UPDATE schema.table
SET last_name = INITCAP(last_name)
where updated_at = (select max(updated_at) as updated_at from schema.table_name);
"""

#run query
cur.execute(query_2)
conn.commit()
cur.close()
conn.close()

# Insert local variable as variable to DWH

In [ ]:
tenure = 12
query_3 = pd.read_sql("""SELECT {tenure} as period FROM table""")